@media (max-width: 1670px) {
    /*          IMAGE           */
    div.container div.imagem-layout{
        max-width: 600px;
    }

    /*          TEXT            */
    div.container div.text{
        max-width: 40%;
        padding: 10px;
    }
}

@media (max-width: 1070px) {
    div.container{
        flex-direction: column;
        justify-content: center;
        margin-bottom: -2rem;
    }

    /*          IMAGE           */
    div.container div.imagem-layout{
        max-width: 900px;
    }

    /*          TEXT            */
    div.container div.text{
        max-width: 90%;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    /*          TEXT            */
    div.container div.text{
        max-width: 100%;
    }
}

/*-------------------------------------*/
@media (max-width: 1070px) {
    div.imagem-layout-container{
        max-width: 1000px;
    }
}

@media (max-width: 500px) {
    div.imagem-layout-container{
        flex-direction: column;
        box-shadow: none;
    }

    div.imagem-layout-container:before{
        left: 18px;
        bottom: 10px;
        width: 30%;
    }

    div.imagem-layout-container img{
        max-width: 100%;
        padding: 0;
        box-shadow: 0 15px 10px rgb(59, 58, 58);
        border: 1px solid rgb(59, 58, 58);

        margin-bottom: 10px;
    }
}