/*
CORES
Azul escuro = #13182B
Branco = #FFFF
Azul quem sou = #00082C   #09102B
color: #000;
Laranja: #F25C05
Laranja: #F27405
Azul: #049DD9
Verde: #4E7329
TIPOGRAFIA
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
*/

/*----------------------------*/
/*          TABLET            */
/*----------------------------*/

@media (max-width: 1055px) {

    nav.container{
        justify-content: space-between;
    }

    ul.menu-humburguer{
        display: flex;
    }

    nav.container div.img-logo{
        margin-left: 1rem;
        max-width: 250px;
    }

    nav.container ul.menu-left{
        width: 80%;
        height: 82vh;
        flex-direction: column;
        background: linear-gradient(rgba(4,157,217) 0%, rgba(54,176,224) 45%, rgba(60, 179, 113, .9) 100%);
        padding-top: .5rem;

        position: absolute;
        top: 6rem;
        right: 0;
        z-index: 999;

        animation-name: mobile;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;

    }

    nav.container ul.menu-left li{
        margin: .5rem;
        margin-left: 1rem;
    }

    nav.container ul.menu-left li a{
        font-size: 120%;
    }

    nav.container ul.active-menu{
        display: flex;
    }

    nav.container ul.not-active-menu{
        display: none;
    }
}

@media (max-width: 930px) {
    nav.container div.img-logo{
        margin-left: 1rem;
        /* max-width: 150px; */
    }
}

@media (max-width: 600px) {
    nav.container div.img-logo{
        margin-left: 1rem;
        max-width: 180px;
    }
}

/*----------------------------*/
/*          ANIMAÇÕES         */
/*----------------------------*/

@keyframes mobile {
    0%{
        opacity: 0;
        width: 0;
        /* height: 0vh; */
    }
    60%{
        opacity: .3;
        /* width: 50%;
        height: 70Vh; */
    }
    100%{
        opacity: 1;
        /* width: 100%; */
    }
}
