
/*----------------------------*/
/*          HEADER            */
/*----------------------------*/

@media (max-width: 1930px) {
    header.marketing div.header-container{
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/MarketingHeaderCapaG.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

/*----------------------------*/
/*          TABLET            */
/*----------------------------*/

@media (max-width: 1030px) {
    header.marketing div.header-container{
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/MarketingHeaderCapaM.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    header.marketing div.header-container div.chamada{
        position: absolute;
        max-width: 900px;
        margin: auto;
        text-align: center;
    
    }
}

@media (max-width: 800px) {
    header.marketing div.header-container{
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/MarketingHeaderCapaP.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

/*----------------------------*/
/*          CELL              */
/*----------------------------*/

@media (max-width: 420px) {
    header.marketing div.header-container{
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/MarketingHeaderCapaPP.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

/*----------------------------*/
/*          CONTEÚDO           */
/*----------------------------*/

@media screen and (max-width: 1500px){
    section.conteudo div.conteudo-container div.preco-guia div.linha{
        top:  1.1rem;
    }
}

