/*
CORES
Azul escuro = #13182B
Branco = #FFFF
Azul quem sou = #00082C   #09102B
div#teste{
    background-color: aquamarine;
    position: fixed;
    top: 0; left: 0;
    width: 300px;
    height: 60px;
    z-index: 10;
    color: #000;
    Laranja: #F25C05
    Laranja: #F27405
    Azul: #049DD9
    Verde: #4E7329
}
TIPOGRAFIA
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
*/

/*----------------------------*/
/*          HEADER            */
/*----------------------------*/

header.container {
    width: 100%;
    min-height: 95vh;
    max-height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../../assets/HeaderCapa.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 40px;

    border-top: 2px solid #F25C05;
}

header.container div.header-inf-mestre{
    width: 100%;
    max-height: 78.8vh;
    min-height: 76.2vh;
    margin-bottom: 10px;
    
    display: flex;
    flex-flow: row;
    justify-content: center;
}

/*----------------------------*/
/*          TEXTOS HEADER     */
/*----------------------------*/

header.container div.header-inf-mestre div.textos{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header.container div.header-inf-mestre div.textos h1{
    font-family: 'Fredericka the Great', cursive;
    text-transform: uppercase;
    font-size: max(32px, 3.5vw);
    font-weight: 400;
    color: #FFF;
    text-shadow: 4px 6px 10px #000;
}

header.container div.header-inf-mestre div.textos h2{
    font-size: max(20px, 2.5vw);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #049DD9;
    text-shadow: 4px 6px 10px #000;

    width: 70%;
    text-align: center;

    animation: digitando 2s steps(22), blink 0.5s step-end infinite alternate;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    white-space: nowrap;
    overflow: hidden;
}

header.container div.header-inf-mestre div.textos a{
    text-decoration: none;
    padding: 1.1vw 2vw;
    background-color: #F25C05;
    margin-top: 6rem;
    border-radius: 30px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: max(16px, 1.5vw);
    transition: .5s ease-out;
}

header.container div.header-inf-mestre div.textos a:hover{
    opacity: .7;
}

/*----------------------------*/
/*          IMAGEM HEADER     */
/*----------------------------*/

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*----------------------------*/
/*          ANIMAÇÕES         */
/*----------------------------*/

/*----------HEADER -----------*/

@keyframes digitando{
    from{
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

/*----------------------------*/
/*          SECTION SOBRE     */
/*----------------------------*/

section.sobre{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
    padding-bottom: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section.sobre div.sobre-imagem{
    max-width: 500px;
    max-height: 100%;

    margin-right: 2rem;
    margin-bottom: 2rem;
    margin: 2rem 2rem 2rem 2rem;

}

section.sobre div.sobre-imagem img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}

/*---------- textos -----------*/

section.sobre div.sobre-textos{
    max-width: 95%;
}

section.sobre div.sobre-textos h2{
    font-family: 'EB Garamond', serif;
    color: #13182B;
    font-size: max(20px, 2.5vw);
    margin-bottom: 1rem;
    text-shadow: 1px 1px 5px rgb(146, 146, 146);
}

section.sobre div.sobre-textos span{
    color: #049DD9;
    font-family: 'Open Sans', sans-serif;
    font-size: max(12px, .9vw);
    text-shadow: 1px 1px 5px rgba(173, 173, 173, 0.603);
}

section.sobre div.sobre-textos p{
    max-width: 850px;
    font-size: max(12px, .9vw);
    color: #13182B;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 5px rgb(189, 189, 189);
    margin-top: 1rem;
}

/*----------------------------*/
/*          SECTION PAGINAS   */
/*----------------------------*/

section.paginas{
    width: 100%;
    margin-bottom: 60px;   
}

/*---------- textos -----------*/

section.paginas div.paginas-superior{
    width: 100%;
    background-color: #13182B;
    text-align: center;
    padding: 20px;
}

section.paginas h1{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: max(22px, 2.5vw);
    font-weight: 400;
    color: #FFF;
    text-shadow: 4px 6px 10px #000;
    margin: 1.2rem 0;
}

section.paginas h3{
    font-size: max(16px, 1.2vw);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #049DD9;
    text-shadow: 4px 6px 10px #000;
    margin-bottom: 2rem;

    width: 100%;
    text-align: center;

    animation: digitando 2s steps(22), blink 0.5s step-end infinite alternate;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    white-space: nowrap;
    overflow: hidden;
}

section.paginas div.paginas-superior-texto{
    max-width: 70%;
    margin: auto;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

section.paginas div.paginas-superior-texto div.paginas-superior-texto-esq, section.paginas div.paginas-superior-texto div.paginas-superior-texto-dir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.paginas div.paginas-superior-texto div.paginas-superior-texto-esq p, section.paginas div.paginas-superior-texto div.paginas-superior-texto-dir p{
    margin-bottom: 2rem;
    font-size: max(12px, .9vw);
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
    text-shadow: 4px 6px 10px #000;
    text-align: left;

    max-width: 95%;
}

section.paginas h4{
    font-size: max(13px, 1vw);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #049DD9;
    text-shadow: 4px 6px 10px #000;
    margin: 1.5rem 0;
}

/*---------- Div inferior -----------*/

section.paginas div.paginas-inferior{
    /* width: 100%;
    padding: 2rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; */

    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
    padding-bottom: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section.paginas div.paginas-inferior div.paginas-inferior-textos{
    max-width: 90%;
}

section.paginas div.paginas-inferior div.paginas-inferior-textos h2{
    font-family: 'EB Garamond', serif;
    color: #13182B;
    font-size: max(20px, 2.5vw);
    margin-bottom: 1rem;
    text-shadow: 1px 1px 5px rgb(146, 146, 146);
}

section.paginas div.paginas-inferior div.paginas-inferior-textos p{
    max-width: 850px;
    font-size: max(12px, .9vw);
    color: #13182B;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 5px rgb(189, 189, 189);
    margin-top: 1rem;
}

/*---------- Div inferior imagem -----------*/

section.paginas div.paginas-inferior div.paginas-inferior-img{
    max-width: 500px;
    max-height: 100%;

    margin-right: 2rem;
    margin-bottom: 2rem;
    margin: 2rem 2rem 2rem 2rem;
}

section.paginas div.paginas-inferior div.paginas-inferior-img img{
    max-width: 100%;
}
